*{
    margin: 0;
    padding: 0;
}
body.default{
    background-color: #EDD5C5;
}
/*
* Header Layout
*/
header nav{
    margin-top: 20px;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav-header{
    width: 405px;
    /*border: 1px solid red;*/
    height: 50px;
    margin-left: 15px;
    border-bottom: 3px solid #857E7E;
    text-align: center;
}
.first-nav{
    margin-left: 0px;
}
.nav-header a{
    margin: 5px 145px; 
    line-height: 3.2em;
    text-decoration: none;
    color: #272727;
}